*{
    margin: 0;
    padding: 0;
}
body{
    line-height: 1.5;
    /* background-color:rgba(0, 0, 0, 0.607) !important; */
}


.box{
    height: 82px;
    width: 100%;
}
.ab{
    padding: 0;
    display: inline-block;
    width: 45%;

}
.abl{
    margin-left: 28px;
}
.hmbg{
  background-image: url(../../assets.web/img/home-1/1920x1280-1.jpg);
}
.slide{
  width: 100%;
  height: 100vh;
}



/* =================================aside=========================== */
aside{
  position: fixed;
  top: 165px;
  margin-top: 0;
  z-index: 1;

  
}
.asidebox{
  margin-left: 10px;
  margin-right: 10px;
  height: 100vh;
  width: 500px;
}
aside .container{
  left: 10px;
  margin-left: 15px;  
  width: 350px;

  height: 100vh;
  background-color: rgb(6, 6, 6);
}
.aaside{
  display: flex;
  margin-top: 10px;
  padding: 0 !important;
}

/* =================================aside end======================= */


@media (max-width : 767px){
    aside {

    display: none !important;
    }
    .asidebox{
      display: none !important;
    }
  .ms-auth-form form {
  width: 90%;
  }
  .ms-auth-bg{
    display: none;
  }
  .mcard{
    width: 50% !important;
  }
  .sigma_team-body{
    padding: 10px 4px 10px 8px !important;
  }
  .sigma_team.style-16:hover .sigma_team-body {
    padding-bottom: 100px !important;
    margin-top: -70px !important;
  }
  .sigma_team-body h5{
    font-size: 1rem !important;
}
.sigma_team-categories{
    font-size: 0.75rem !important;
}
  .slide{
    height: 30vh;
  }
} 
@media (min-width: 576px){
.mwidth {
  max-width: 100% !important;
}
 
}

.ms-auth-form input{
    height: 35px;
    border-radius: 6px  !important;
}
.ms-auth-form label{
    margin-top: 20px;
    margin-bottom: 0px;
}
/* fotter */
.row ul{
  justify-content: center;
}
.row a{
  text-decoration: none;
}
/* ============fotter */
.plan-card{
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 14px;
  padding: 10px;
  margin-bottom: 7px;
}