 @media (max-width: 1400px){
  .fixed, .side-nav.fixed{
    margin-top:58px ;
  }
  .dr-address{
    width: 150px;
  }
  .home-search{
    width: 90%;
  }
  .gynae-services-card{
    width: 310px;
  }
  .dr-spelialization{
    width: 150px;
  }
  .specialization-card{
    width: 250px;
  }
  .hospital-address{
    width: 160px;
  }
  /* .box {
    height: 59px;
  } */
  .navbar{
    height: 59px;
  }
  
  .city-filter {
    height: 35px;
  }
  .search-bar{
    
    height: 35px;
  }
  .box{
    height: 59px;
  }
   

}
/* @media (max-width: 992px) {
  .specialization-card {
    width: 210px;
  }
} */
@media (max-width: 767px) {
  .search-page{
    width: 100%;
    
  }
  .mobile-width{
    width: 15rem !important;
  }
  .search-mobile{
    flex-direction: column;
  }
  .sixe{
    font-size: 18px;
  }
  .specialization-card{
    width: 155px;
    height: 150px !important;
  }
  .main-ch{
    padding-left: 5px !important;
    padding-right: 5px !important;
    width: 100% !important;
  }
  .seacrh-bar-container {
    z-index: 99;
    margin-top: 15px;
  }
  .search-bar {
    width: 350px;
  }
  .search-ico {
    padding-right: 5px;
  }
  /* patient */
  .pdash {
    flex-direction: column;
  }
  .pdash-right {
    margin: 5px 0 0 0;
  }

  /* --home-- */
  .hero-container {
    height: 300px;
    align-items: normal;
  }

  .hero-content h1 {
    font-size: 28px;
  }
  .hjj {
    width: 200px;
    font-size: 15px;
  }
  .search-contianer-home {
    width: 200px;
    height: 30px;
  }
  .home-search {
    font-size: 10px;
    padding: 0;
    height: 30px;
    width: 170px;
  }
  .home-search-icon {
    padding-top: 4px;
    font-size: 14px;
  }
  .d-search {
    width: 100%;
  }
  /*loginforn*/
  .loginContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0;
  }
  .loginform {
    margin-top: 0;
    width: 70%;
    margin-left: 15%;
  }
  .loginContainer form {
    width: 100%;
  }
  /* --------gynae-----------*/
  .hero-banner {
    height: 200px;
  }
  /* .hero-banner-img{
    width: 100%;
    height: auto;
  } */
  .gynae-button-hero {
    font-size: 12px;
    padding: 1px;
    width: 130px;
    top: 90%;
    left: 10px;
  }

  .gynae-slide {
    height: 200px;
    object-fit: cover;
  }
  .gynae-services-cards-container {
    /* flex-direction: column; */
    flex-wrap: wrap;
  }
  .gynae-services-card {
    width: 380px;
    margin-left: 0;
    padding: 0;
    margin-right: 0;
  }

  /*--------hospital-card-----------*/
  .hospital-title {
  }
  .hopsiptal-banner-img {
    height: 200px;
  }
  /* .wating-area-clinic{
    margin-top: 50px;
  } */
  .clinic-address-icon {
    font-size: 25px;
    margin: 5px;
  }
  .clinic-info-details {
    margin: auto;
  }
  .clinic-address-icon-container {
    width: 40px;
    height: 40px;
  }

  /* .slide1 {
    height: 500px !important;
  } */

  .contact-details-clinic {
    flex-direction: column;
  }
  /*----------------specialization ---------------*/
  .category-h {
    text-align: left;
    padding: 30px 20px 20px;
    margin: 35px 0 30px;
  }
  /*--------token-list---------*/
  .token-list {
    width: 100%;
    margin-top: 50px;
  }
  .token-list-item {
    height: 60px;
  }
  .token-list-img {
    margin: 3px 0 0 -50px;
    height: 50px;
    width: 40px;
  }
  .token {
    margin: 4px 0 0 -40px;
    height: 50px;
    width: 50px;
  }
  .token-list-number {
    font-size: 30px;
    margin-top: 6px;
  }
  .token-list-detail {
    margin-left: -50px;
    margin-top: 5px;
    height: 50px;
  }
  .list-patient-name {
    font-size: small;
  }
  .list-mobile-no,
  .list-address {
    font-size: 10px;
  }
  /*-----------end------------*/
  .patient-profile-img {
    width: 150px;
    height: 150px;
  }

  .patient-profile {
    width: 100%;
    margin: auto;
  }
  /*search bar*/
  .dsearch-doctor {
    width: auto;
  }
  .dsearch-doctor::placeholder {
  }
  /*----end-----*/
  /*------------Dr Card----------*/
  .dr-qualifiction {
    font-size: 12px;
  }
  .dr-spelialization {
    font-size: 15px !important;
    width: 150px;
    padding: 2px;
    border-radius: 3px;
  }
  /*---------------card----------*/
  /*hospital card starts*/
  .hospitalCard {
    /* margin-left:45px ; */
  }

  /*ends*/

  /*----------hospital and clinic signup*/
  .after-container-child {
    flex-direction: column !important;
    margin-top: 20px;
  }
  .after-signup-icon {
    height: 150px;
    width: 250px;
    margin-left: 0;
  }
  .after-signup {
    width: 270px;
    height: 190px;
    margin: auto;
    margin-bottom: 20px;
  }
  .after-container {
    height: 80vh;
  }
  .hc-signup-container {
    width: 80% !important;
  }

  /*--------end----------------*/
  /*clinic Datails*/

  .clinic-detail-item {
    font-size: 15px !important;
  }
  .clinic-detail-timming {
    margin-left: 0;
    margin-top: 20px;
  }
  .current-clicnic-token {
    height: 60px;
    width: 60px;
    font-size: 16px;
    
    margin: 40px 0 0 40px;
  }
  .current-clicnic-token h1 {
    /* margin: 7px !important; */
    font-size: 40px;
  }
  .clinic-detail-mobile {
    margin-top: 10px !important;
  }
  .clinic-detail-des {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
  }

  .clinicbanner {
    height: 200px;
    /* margin-top: 80px; */
  }
  .clinic-detail-img-container {
    top: 40px;
    margin-left: 10px;
  }
  .clinic-detail-drName {
    font-size: medium;
    margin-left: 15px;
    width: 174px;
  }
  .fixed, .side-nav.fixed{
    margin-top: 75px;
  }
  .clinic-footer-address{
    width: 200px;
  }
  .clinic-detail-img {
    height: 100px;
    width: 80px;
  }
  .clinic-detail-name{
    margin-top: 10px;
  }

  /*-------------------clinic crad--------------*/
  .clinic-timming {
    font-size: 13px;
    font-weight: 900;
  }
  .clinic-btn {
    font-size: 16px;
    margin: 36px 0 0px 0px;
  }

  /*-------------------ends-------------------*/
  .ml255 {
    margin-left: 0;
  }
  .navbar {
    height: 75px;
  }
  .login_button {
    display: none;
  }
  .side-nav .logo-sn a {
    padding: 0;
  }
  .d-profile {
    display: none !important;
  }
  /*slider*/
  .loginContainer {
    background-image: none;
    background-color: rgb(1, 1, 1);
  }
  
} 