*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.parent{
    position: relative;
    top: 82px;
}

/* .main-content{

    
    position: relative;
    width: 83%;
    margin: 0 260px;
}
*/

.main-content{
    display: flex;
    flex-direction: row;
}
.profile-image {
    border-radius: 50%;
    height: 5rem;
    border: 3px white solid;
}
.nav-link-active {
    background-color: #ffffff78;
    margin-left: .5rem;
    margin-right: .5rem;
    border-radius: 7px;
}
.ms-content-wrapper {
    padding: 10px;
}
.form-control:focus{
    border-color: #112C2F;
    box-shadow: 0 0 0 .03rem #112C2F;
}
/* ---------------header--------------- */
.navbar{
    height: 82px;
    display: flex;
    justify-content: space-between;
}
.logo{
    width: 100%;
    height: 50px;
}
.avatar{
    width: 100%;
    height: 50px;
}
.login_button{
    background-color: #ffffff78;
    padding: 10px;
    border-radius:8px ;
    cursor: pointer;
    }

.login_button a{
    color: white;

}

/* ---------------------navbar ends-------------- */
/* ==================Mobile navbar=============== */

.m-title{
    text-align: center;
    color: white;
    font-size: large;
}
.m-menu{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.m-menu-item{
    margin-bottom: 10px;
}
.m-menu-item a{
    
    font-size: 1.5rem;
    margin:0  5px 5px 30px ;
    
}
.underline{
    width: 188px;
    border-bottom: 2px solid rgba(255, 255, 0, 0.529);
    margin: 0;
}
.m-icon{
font-size: 15px;
}
.m-container{
    height: 100vh;
}
.m-footer{
    text-align: center;
}
.m-login{
    position: relative;
    
    width: 120px;
    padding:10px 20px !important;
    margin:0 auto 15px auto;
    color: white;
    border-radius: 6px;
    font-size: large;
    width: 70%;
    border: 1px solid rgba(197, 197, 189, 0.529);
}

.m-login a{
    padding: 10px !important;
}

.cursor-pointer{
    cursor: pointer;
    margin-top: 15px;
}
.tabName{

    font-style:30px;
}
.ms-form-wizard ul[role="tablist"] li {
    padding: 10px;
}
/* ==================mobile navbar end ================ */


/* ===============Registration form================= */

.reg-form{
      margin: 0 15px;

}
.clearfix{
    margin: 0 15px 10px 15px;
}
/* =============Registration form end====================== */
.ml255 {
    margin-left: 255px;
}

.mt80 {
    margin-top: 80px;
}

@media (max-width: 767px){
    .ml255 {
        margin-left: 0;
    }
    .navbar {
        height: 75px;
    }
    .login_button{
        display: none;
    }
    .side-nav .logo-sn a{
        padding: 0;
    }
} 
