*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .main-content{

    
    position: relative;
    width: 83%;
    margin: 0 260px;
}
*/

.main-content{
    display: flex;
    flex-direction: row;
}
.profile-image {
    border-radius: 50%;
    height: 5rem;
    border: 3px white solid;
}
.nav-link-active {
    background-color: #ffffff78;
    margin-left: .5rem;
    margin-right: .5rem;
    border-radius: 7px;
}
.ms-content-wrapper {
    padding: 10px;
}
.form-control:focus{
    border-color: #112C2F;
    box-shadow: 0 0 0 .03rem #112C2F;
}

.ml255 {
    margin-left: 255px;
}

.mt80 {
    margin-top: 80px;
}

@media (max-width: 767px){
    .ml255 {
        margin-left: 0;
    }
    .navbar {
        height: 75px;
    }
} 