*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.parent{
    position: relative;
    top: 82px;
}

/* .main-content{

    
    position: relative;
    width: 83%;
    margin: 0 260px;
}
*/

.main-content{
    display: flex;
    flex-direction: row;
}
.profile-image {
    border-radius: 50%;
    height: 5rem;
    border: 3px white solid;
}
.nav-link-active {
    background-color: #ffffff78;
    margin-left: .5rem;
    margin-right: .5rem;
    border-radius: 7px;
}
.ms-content-wrapper {
    padding: 10px;
}
.form-control:focus{
    border-color: #112C2F;
    box-shadow: 0 0 0 .03rem #112C2F;
}
/* ---------------header--------------- */
.navbar{
    height: 82px;
    display: flex;
    justify-content: space-between;
}
.logo{
    width: 100%;
    height: 50px;
}
.avatar{
    width: 100%;
    height: 50px;
}
.login_button{
    background-color: #ffffff78;
    padding: 10px;
    border-radius:8px ;
    cursor: pointer;
    }

.login_button a{
    color: white;

}

/* ---------------------navbar ends-------------- */

.ml255 {
    margin-left: 255px;
}

.mt80 {
    margin-top: 80px;
}

.ms-panel-body {
    height: 20rem;
    overflow: scroll;
}
.ms-panel-header {
    background-color: #112C2F;
    color: white;
    border-radius: 4px;
    padding: 13px;
}
.btn {
    padding: 5px;
}
.ms-panel {
    border-bottom: 5px solid;
}

@media (max-width: 767px){
    .ml255 {
        margin-left: 0;
    }
    .navbar {
        height: 75px;
    }
} 
