<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>
<body>
  <div
  style="background: #ffff; width: 600px; border: 1px solid black;"
  class="p-2 rounded"
>
  <h4 style="margin-left:20px ;" class="">Appointment Card</h4>
  <hr />
  <div class="">
    <h2 style="text-align: center;">Clinic Or Hospital Name</h2>
    <h6 style="margin-left: 16px;">25/02/2003</h6>
    <hr />
  </div>
  <div style="display: flex; justify-content: space-around; padding: 0 3.5rem;" >
    <div class="">
      <img
        src="../../../assets.app/images/surrogacy.jpg" 
        style="width: 100px; height: 100px; border-radius: 6px;"
        alt=""
      />
    </div>
    <div style="display: flex; flex-direction: column; margin: auto;">
      <h4 style="font-weight: bold; margin: 0;">
        <span style="margin: 0; color: black;">Name : </span>Lapd
      </h4>

      <h4 style="font-weight: bold; margin: 5px 0 0 0;">
        <span style="margin: 0; color: black;">Age : </span>25
      </h4>
      <h4 style="font-weight: bold; margin: 5px 0 0 0;">
        <span style="color: black; margin: 0;" class="m-0 text-dark">Gender : </span>male
      </h4>
      <h4 style="font-weight: bold; margin: 5px 0 0 0;">
        <span style="margin: 0; color: black;" class="m-0 text-dark">Blood Group : </span>A+
      </h4>
    </div>
    <div style="width: 60px; height: 60px; border-radius: 6px; background-color: #00bf63;">
      <h3 style="text-align: center; margin: 5px 0 0 0; margin-top: 30%;">222</h3>
    </div>
  </div>
  <hr />
  <div style="padding-left: 40px;">
    <h2 style="font-weight: bold;">Basic Details</h2>
    <p style="margin: 5px 0 0 0; color: black;">Guardian Name : Jwjejdbsn</p>
    <p style="margin: 5px 0 0 0; color: black;">Mobile Number : +91 9283736828</p>
    <p style="margin: 5px 0 10px 0; color: black;">
      Address : Hshjsjsbsbebjska jsosownwnjseb
    </p>
  </div>
</div>

</body>
</html>